<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SixthBCA">
        <activity
            android:name=".apisikneho.ApiDemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hospitalDB.HospitalMainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".db.MyStorageActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".Fragment.MyShopActivity"
            android:exported="true" />
        <activity
            android:name=".gridview.DemoRecycleActivity"
            android:exported="true" />
        <activity
            android:name=".gridview.GridViewActivity"
            android:exported="true" />
        <activity
            android:name=".MyCustomizedListActivity"
            android:exported="true" />
        <activity
            android:name=".classui2.BankProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MyAdapterActivity"
            android:exported="true" />
        <activity
            android:name=".classui.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".dialog.MyDialogActivity"
            android:exported="true" />
        <activity
            android:name=".package2.LoginViewActivity"
            android:exported="true" />
        <activity
            android:name=".package1.AddUserActivity"
            android:exported="true" />
        <activity
            android:name=".package1.ParentActivity"
            android:exported="true" />
        <activity
            android:name=".TableLoginActivity"
            android:exported="true" />
        <activity
            android:name=".TableTestActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
    </application>

</manifest>